<!DOCTYPE html>
<html ng-app="arenaApp">
<head>
  <meta charset="utf-8">
  <meta name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ng-bind="title"></title>
  <script src="//code.angularjs.org/1.1.5/angular.min.js"></script>
  <script src="//code.angularjs.org/1.1.5/angular-resource.min.js"></script>
  <script src="//code.angularjs.org/1.1.5/angular-sanitize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.js"></script>
  
  <style type="text/css" media="screen">
  * {
    font-family: "Space Mono", serif;
    font-weight: normal;
  }
  </style>
</head>

<body ng-controller="channelShow">

<header>
  <h1>{{channel.title}}</h1>
  <p ng-if="channel.metadata.description">{{channel.metadata.description}}</p>
</header>


<main ng-repeat="block in channel.contents">
  <!-- Channel contents loop -->

  <h4 ng-if="block.title" class="add-bottom">
      {{block.title}} 
      <span ng-if="block.class == 'Link'">
          <a href="{{block.source.url}}" title="{{block.title}}">↳</a>
      </span>
      <span ng-if="block.class == 'Attachment'">
          | <a href="{{block.source.url}}" title="{{block.title}}">Download</a>
      </span>
  </h4> 

  <div ng-if="block.class == 'Image'">
      <figure>
        <img src="{{block.image.display.url}}" alt="{{block.title}}" class="scale-with-grid">
        <figcaption ng-bind-html-unsafe="block.content_html"> </figcaption>
      </figure>
  </div>

  <div ng-if="block.class == 'Attachment'">
    <img src="{{block.image.display.url}}" alt="{{block.title}}" class="scale-with-grid add-bottom">
  </div>

  <script ng-if="block.class == 'Text'" ng-bind-html-unsafe="block.content_html">
  </script>

  <div ng-if="block.class == 'Media'">
    📺<figcaption ng-bind-html-unsafe="block.source.url"></figure>
  </div>

  <div ng-if="block.class == 'Channel'">
    <a href="#{{block.slug}}" title="">{{block.title}}</a>
  </div>

<!-- End Channel contents loop -->
</main>
<script type="text/javascript">
var app = angular.module('arenaApp', ['ngResource', 'ngSanitize']);

app.controller('channelShow', function($rootScope, $scope, $resource) { 
  var Channel = $resource('http://api.are.na/v2/channels/:slug');
  var channel = Channel.get({slug: 'video--6', sort: 'position', direction: 'asc'}, function(){
    $scope.channel = channel;
    $rootScope.title = channel.title
    description = _.findWhere(document.getElementsByTagName('meta'), { 'name': 'description' });
    description.content = channel.metadata ? channel.metadata.description : '';
    console.log(channel.contents);
  });
})
</script>
</body>
</html>