<!DOCTYPE html>
<html ng-app="arenaApp">
<head>
  <meta charset="utf-8">
  <meta name="description">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ng-bind="title"></title>
  <script src="//code.angularjs.org/1.1.5/angular.min.js"></script>
  <script src="//code.angularjs.org/1.1.5/angular-resource.min.js"></script>
  <script src="//code.angularjs.org/1.1.5/angular-sanitize.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
  <script src="bower_components/marked/lib/marked.js"></script>
  <script src="bower_components/angular-md/dist/angular-md.min.js"></script>
  
  <style type="text/css" media="screen">
  * {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", serif;
    font-weight: normal;
    color: #0000ff;
  }
  
  .channelBug{
    position: fixed;
    top: 10px;
    left: 10px;
  }
  
  .fullvideo {
    position: fixed;
    left:-10%;
    top:-10%;
    overflow:hidden;
    z-index:-1;
    height:120%;
    width:120%;  
  }
  
  </style>
</head>

<body ng-controller="channelShow">

<header class="channelBug">
  <h1>{{channel.title}}</h1>
  <md ng-model="channel.metadata.description"></md>
  
  <!-- <p ng-if="channel.metadata.description">{{channel.metadata.description}}</p> -->
</header>

<!-- 
<main ng-repeat="block in channel.contents">
  
  <div ng-if="block.class == 'Media'">
    📺<b ng-bind-html-unsafe="block.source.url"></b>
      <youtube-video video-url="block.source.url" class="burger"></youtube-video>
      
  </div>

<div ng-if="block.class == 'Channel'">
  <a href="#{{block.slug}}" title="">{{block.title}}</a>
</div>
-->

<youtube-video video-url="currentShow" player-vars="playerVars" class="fullvideo"></youtube-video>


<!-- End Channel contents loop -->
</main>
<script type="text/javascript">
var app = angular.module('arenaApp', ['ngResource', 'ngSanitize', 'youtube-embed', 'yaru22.md']);

app.controller('channelShow', function($rootScope, $scope, $resource) { 
  var shows = [];
  var currentShow = 0;
  var Channel = $resource('http://api.are.na/v2/channels/:slug');
  var channel = Channel.get({slug: 'api-playground', sort: 'position', direction: 'desc'}, function(){
    $scope.channel = channel;
    $rootScope.title = channel.title
    description = _.findWhere(document.getElementsByTagName('meta'), { 'name': 'description' });
    description.content = channel.metadata ? channel.metadata.description : '';
    console.log(channel);
    for (var i = 0; i < channel.contents.length; i++) {
      if (channel.contents[i].class == "Media") {
        shows.push(channel.contents[i].source.url);
      }
    }
    console.log(shows);
    $scope.currentShow = shows[currentShow];
    $scope.playerVars = {
        controls: 0,
        autoplay: 1
    };
    $scope.$on('youtube.player.ended', function ($event, player) {
      // play it again
      // player.playVideo();
      currentShow++;
      console.log("DONE MUFUKKA, next up:"+shows[currentShow]);
      $scope.currentShow = shows[currentShow];
      
    });
    
    
  });
})
</script>
</body>
</html>